footer{
    height: 100px;
    width: 100%;
    background-color: #79ADDC;
    margin-top: 179px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footerLogo{
        width: 136px;
        height: 42px;
        font-family:gill-sans;
        font-size: 20px;
        color: white;
    }

    .copyright{
        color: white;
        font-family: gill-sans;
        font-size: 12px;
    }

    .social{
        img{
            padding-left: 21px;
        }
    }
}